.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li.active {
  font-weight: bold;
}

.pagination li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination li:hover {
  text-decoration: underline;
}

table input {
  max-width: 200px;
  height: 42px;
}